@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}
.snowflake:nth-of-type(10) {
  left: 25%;
  -webkit-animation-delay: 2s, 0s;
  animation-delay: 2s, 0s;
}
.snowflake:nth-of-type(11) {
  left: 65%;
  -webkit-animation-delay: 4s, 2.5s;
  animation-delay: 4s, 2.5s;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
  transition: background-color 0.5s, color 0.5s;
}

body.dark-mode {
  background-color: #333333; /* Màu nền cho Dark Mode */
  color: #ffffff; /* Màu chữ cho Dark Mode */
}

.dark-mode-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%; /* Tạo hình dạng tròn */
  background-color: #2980b9; /* Màu nền cho nút */
  color: #ffffff; /* Màu chữ cho nút */
  border: none; /* Loại bỏ viền */
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  outline: none; /* Loại bỏ đường viền khi được focus */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Hiệu ứng chuyển đổi màu */
  z-index: 9999; /* Đảm bảo nút hiển thị trên tất cả các phần khác */
}

.dark-mode-toggle:hover {
  background-color: #555555; /* Màu nền khi di chuột qua */
}

.dark-mode-icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-mode-icon i {
  font-size: 24px; /* Kích thước của biểu tượng */
}

.container {
  max-width: 800px;
  margin: 60px auto;
  background: url("https://cdn.glitch.global/09f7002f-6f3d-499a-a038-3736bcf8caff/54515381-791d-4cd5-88f4-24e3e58d8d32.jpg?v=1713288606805");
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  padding: 40px;
  background-color: #ffffff;
}

.container.dark-mode {
  background-color: #f6f6f6;
}

.avatar {
  margin-top: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  border: 7px dashed #ffffff;
}

a {
  text-decoration: none;
  color: #666666;
}

.header {
  text-align: center;
  margin-bottom: 30px;
  background: url("https://cdn.glitch.global/715f6b7e-8fd1-4fee-8cc2-2e85cf1551c6/94143a9a-158d-4292-b4fb-9ea10b9cb27d.image.png?v=1712938971074");
  color: #ffffff;
  height: 430px;
  padding: 30px;
  border-radius: 10px;
  opacity: -10;
  transform: translateY(0%); /* Dịch chuyển lên trên */
  animation: dropFromTop 1.4s ease forwards; /* Áp dụng animation */
  border: 10px inset #ffffff;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
  border-image-slice: 1;
  border-image-source: linear-gradient(to right bottom, #03b4d7, #f9f9f9);
}

@keyframes dropFromTop {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header h1 {
  font-size: 33.5px;
  margin-bottom: 10px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: #ffffff;
}

.header p {
  font-size: 19px;
  color: #d5dbd6;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.section {
  margin-bottom: 30px;
  border: 3px dashed #2e6ca4;
  padding-left: 15px;
  padding-right: 4px;
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  transform: translateY(20px);
  background-color: #ffffff;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

.info-section.visible {
  opacity: 1;
  transform: translateY(0);
}

.section h2 {
  font-size: 25.5px;
  margin-bottom: 10px;
  color: #2980b9;
  font-weight: bold;
  text-shadow: 1.5px 2.5px 1px rgba(0, 0, 0, 0.25);
}

.section p {
  font-size: 18px;
  color: #666666;
  line-height: 1.6;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.info-section {
  margin-bottom: 30px;
  border: 10px outset #ffffff;
  padding-left: 15px;
  padding-right: 4px;
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  transform: translateY(20px);
  background-color: #0854a8;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.info-section h2 {
  font-size: 25.5px;
  margin-bottom: 10px;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1.5px 2.5px 1px rgba(0, 0, 0, 0.25);
}

.info-section p {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.6;
  font-weight: bold;
  text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.25);
}

.info-section a {
  color: #ffffff;
  text-decoration: none;
}

.section.dark-mode {
  background-color: #222222; /* Màu nền cho section trong Dark Mode */
  color: #ffffff; /* Màu chữ cho section trong Dark Mode */
}

.info-section.dark-mode {
  background-color: #222222; /* Màu nền cho section trong Dark Mode */
  color: #ffffff; /* Màu chữ cho section trong Dark Mode */
}

.section.dark-mode p {
  color: #ffffff;
}
.section.dark-mode a {
  color: #ffffff;
}

.info-section .icon {
  margin-right: 10px;
  color: #ffffff;
  text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.3);
}

.icon {
  margin-right: 10px;
  color: #2980b9;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

.footer {
  text-align: center;
  margin-top: 50px;
  color: #666666;
  padding: 50px;
}

.footer p {
  font-size: 14px;
  color: #666666;
}

/* .progress-bar {
  height: 17px;
  width: 100%;
  background-color: #dddddd; 
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 4px 6px 1px rgba(0, 0, 0, 0.25);
}
.progress-bar-inner {
  height: 100%;
  border-radius: 8px;
  background-color: #3498db;
} */
